@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237,241,245);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding-bottom: 2.5rem;
}


/* Header */
/* header {
    background-image: url(./images/header-image.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
    width: 100%;
    height: 300px;
} */

header {
    background-image: url('./images/header-image.png');
    background-size: cover;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 300px;
}

.container {
    background:rgba(160, 160, 160, 0.301);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container h1 {
    color:  #dcdcdc;
    font-size: 3.2rem;
    text-align: center;
    padding-bottom: 0.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.288);
}

.container h2 {
    color: #ffffff;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Search */
#searchContainer {
    height: 2.5rem;
    width: 22rem;
    display: flex;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.65);
    z-index: 3;
    margin-top: -22px;
    margin-bottom: 2rem;
}

.fa-search {
    background-color: white;
    font-size: 1.25rem;
    padding-top: 0.6rem;
    padding-left: 1.1rem;
    color: rgb(163, 162, 162);
    padding-right: 1rem;
    height: 100%;
}

#search {
    height: 100%;
    padding-left: .5rem;
    margin: 0;
    flex-grow: 1;
    border: none;
    outline: 0;
    font-size: 0.9rem;
    color: #444;
}

/* Card Area */
#cardList {
    width: 22rem;
    height: auto;
    /* border: 1px dashed salmon; */
}

#cardList h2 {
    color: #444;
    font-size: 1.3rem;
    padding-left: .85rem;
    padding-bottom: 0.75rem;
}

#cardList .card {
    background-color: white;
    display: flex;
    height: 230px;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.1);
    margin: 1.5rem 0;
    transition: ease-in box-shadow 0.35s;
}

#cardList .card:hover {
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.4);
    
}

.cardLeft, .cardRight {
    height: 100%;
}

.cardLeft {
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 150px;
}

.cardLeft .title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25
}

.cardLeft .statusContainer {
    margin-top: 8px;
    padding-bottom: 5px;
}

.cardLeft .status {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1.1px;
}

.cardRight {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    background-color:rgba(46, 46, 46, 0.85);
    padding: 0.5rem 1rem;
}

.episodes, .ranking, .ageRating, .genres, .description {
    /* border: 1px dashed salmon; */
    font-family: 'Roboto', sans-serif;
    color: #535353;
}

.cardRightBody {
    width: 171px;
    display: flex;
    flex-direction: column;
}

.episodes {
    font-size: 0.8rem;
    font-weight: 500;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
}

.ranking {
    font-size: 1rem; 
    font-weight: 500;
    padding-bottom: 0.4rem;
}

.ageRating {
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
}

.description {
    font-size: 0.75rem;
    max-height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    overflow-x: none;
}

.description:hover {
    max-height: 300px;
    height: 100px;
    overflow-y: auto;
    overflow-x: none;
    scroll-behavior: smooth;
}

/* cardRightFooter, genres, genre */
.cardRightFooter {
    background-color: #f5f5f5;
    /* border: 1px dashed salmon; */
    justify-content: flex-end;
    /* padding-bottom: 0.4rem; */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genres {
    width: 171px;
}

.genre {
    color: darkslategray;
    display: inline-block;
    padding: 0.2rem 0.75rem;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-radius: 15px;
}

@media (min-width: 400px) {
    #searchContent {
        min-width: 352px;
        width: 90%;
        max-width: 531px;
    }
    #searchContainer {
        min-width: 352px;
        width: 100%;
    }
    #search {
        width: 100%;
    }
    #content {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #cardList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    #cardList .card {
        margin: 15px 25px;
        width: 100%;
        min-width: 352px;
    }
    #cardList .cardRightBody, #cardList .genres {
        width: 80%;
    }
    #cardList .cardLeft {
        min-width: 150px;
    }
}
@media (min-width: 800px) {
    #cardList .card {
        margin: 15px 25px;
        width: 100%;
        min-width: 560px;
        max-width: 734px;
    }
}

@media (min-width: 1149px) {
    #cardList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #cardList .card {
        margin: 15px 25px;
        width: 100%;
        min-width: 455px;
        max-width: 517px;
    }
}